<hr>
<p class="backlinks-title larger text-center">Mentioned In: </p>
{% if backlinks.length > 0%}
<div class="container-fluid">
    <ul class="backlinks-container">
        {% for link in backlinks %}
        <div class="row justify-content-center">
            <div class="col-">
                <li class="backlink">
                    <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
                    <div class="backlink__preview" role="none">
                        {{link.preview | markdownify }}
                    </div>
                </li>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% else %}
<p class="backlinks-default">No backlinks found.</p>
{% endif %}