<div class="sidebar-menu">
    <!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
    {% for note in collections.notes %}
    {% if note.data.title == "Home" %}
    <a href="{{note.url}}" class="sidebar-link sidebar-link-with-icon" id="sidebar-{{note.data.title}}">
        <span class="sidebar-icon">
            <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        {{note.data.title}} {{this}}
    </a>
    <div class="sidebar-divider"></div>
    {% else %}
    <a href="{{note.url}}" class="sidebar-link sidebar-link-with-icon" id="sidebar-{{note.data.title}}">
        {{note.data.title}}
    </a>
    {% endif %}
    {% endfor %}
</div>